body{
    padding-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
    background: radial-gradient(circle,#2596be,#1077fe,#2000fe,#d900fc,#ff0186,#fe3d18,#f8d800,#5cfe26,#16fdb8);
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 10%;
    width: 100%;
    height: 15%;
    font-size: 400%;
    color: black;
}
a{
    font-size: 200%;
    text-decoration: none;
    color: black;
    margin-right: 2%;
}
#vibing{
    display: flex;
    width: 30%;
    align-items: center;
}
#snoop{
    width: 30%;
}
#imagens{
    display: flex;
    justify-content: center;
}
#dedoritos{
    width: 30%;
}